<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"ik-main","className":"container-full ik-resume","layout":{"type":"default"}} -->
<main id="ik-main" class="wp-block-group container-full ik-resume">
	<!-- wp:pattern {"slug":"ik2/resume-page-header"} /-->
	<!-- wp:ik2/resume-experience /-->
	<!-- wp:ik2/resume-skills /-->
	<!-- wp:pattern {"slug":"ik2/resume-page-contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
