<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"ik-main","align":"full","className":"ik-resume","layout":{"type":"constrained","contentSize":"var(--wp--custom--width--full)"}} -->
<main id="ik-main" class="wp-block-group alignfull ik-resume">
	<!-- wp:pattern {"slug":"ik2/resume-page-header"} /-->
	<!-- wp:ik2/resume-facts /-->
	<!-- wp:ik2/resume-experience /-->
	<!-- wp:ik2/resume-community /-->
	<!-- wp:ik2/resume-skills /-->
	<!-- wp:pattern {"slug":"ik2/resume-page-contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
