<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"ik-main","className":"ik-article ik-project-single","layout":{"type":"constrained","contentSize":"720px","wideSize":"1080px"}} -->
<main id="ik-main" class="wp-block-group ik-article ik-project-single">
	<!-- wp:pattern {"slug":"ik2/single-project-breadcrumbs"} /-->
	<!-- wp:pattern {"slug":"ik2/single-project-header"} /-->

	<!-- wp:post-featured-image {"sizeSlug":"large","align":"wide","className":"ik-article__featured ik-project-single__featured"} /-->

	<!-- wp:ik2/project-card {"variant":"feature"} /-->

	<!-- wp:post-content {"className":"ik-article__body","layout":{"type":"constrained","contentSize":"720px","wideSize":"1080px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
