<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ik-article","layout":{"type":"constrained","contentSize":"720px","wideSize":"1080px"}} -->
<main class="wp-block-group ik-article">
	<!-- wp:pattern {"slug":"ik2/single-article-breadcrumbs"} /-->
	<!-- wp:pattern {"slug":"ik2/single-article-header"} /-->

	<!-- wp:post-featured-image {"align":"wide","className":"ik-article__featured"} /-->

	<!-- wp:post-content {"className":"ik-article__body","layout":{"type":"constrained","contentSize":"720px","wideSize":"1080px"}} /-->

	<!-- wp:pattern {"slug":"ik2/single-article-share"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
