<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ik-article","layout":{"type":"default"}} -->
<main class="wp-block-group ik-article">
	<div class="container-narrow">
		<!-- wp:pattern {"slug":"ik2/single-article-breadcrumbs"} /-->
		<!-- wp:pattern {"slug":"ik2/single-article-header"} /-->

		<!-- wp:post-content {"className":"ik-article__body","layout":{"type":"default"}} /-->

		<!-- wp:pattern {"slug":"ik2/single-article-share"} /-->
	</div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
